h1 {
    text-align: center;
}

img {
    display: block;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

li {
    font-size: 20px;
    margin-bottom: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 75px;
    justify-content: space-between;
}

.description {
    max-width: 50%;
}

.ingredients {
    max-width: 50%;
}

.steps {
    margin: 25px 15px;
}

.steps h2 {
    width: fit-content;
    margin: auto;
}

.ingredients-list li {
    margin-bottom: 8px;
}

.recipes {
    margin-top: 35px;
    margin-left: 50px;
}

.recipes-list li,
.recipes-list a {
    text-decoration: underline;
    color: #000;
    font-size: 22px;
}